body{
  font-family: 'Airbnb Cereal App', sans-serif !important;
}

.brand-color {
  color: #ff395c !important;
}
 .custom-carousel .carousel-indicators [data-bs-target] {
  box-sizing: content-box;
  flex: 0 1 auto;
  width: 6px;
  height: 6px;
  padding: 0;
  border-radius: 10px;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #fff;
  border: 0;
  opacity: .5;
  transition: opacity .6s ease;

}

.carousel-indicators {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  display: flex;
  justify-content: center;
  padding: 0;
  margin-right: 15%;
  margin-bottom: 1rem;
  margin-left: 15%;
  align-items: center;
}

.custom-carousel .carousel-indicators [data-bs-target].active {
  background-color: #fff; 
  opacity: 1;
  width: 8px;
  height: 8px;
}

.carousel-control-next {
  background-color: white !important; 
  height: 25px !important;
  width: 25px !important;
  border-radius: 20px;
  color: black !important;
  opacity: 1;
  
  display: flex;
  justify-content: center;
  align-items: center;
  top: 45% !important;
  position: absolute ;
  margin-right: 5px;
  opacity: 0 !important;
}

.card:hover .carousel-control-next,
.card:hover .carousel-control-prev {
  opacity: 1 !important;
  font-size: 13px !important;
}

 .carousel-control-prev
 {
  right: 0;
  background-color: white !important;
  height: 25px !important;
  width: 25px !important;
  border-radius: 20px;
  color: black !important;
  opacity: 1 !important;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 45% !important;
  margin-left: 5px;
  opacity: 0 !important;
} 

a.carousel-control-prev svg {
  margin-left: -3px;
}

.custom-card-title {
  font-family: 'Airbnb Cereal App', sans-serif !important;
  font-weight: 700 !important;
  color: #222222;
  text-overflow: ellipsis;
  word-break: break-all;
  width: 90%; 
  font-size: 15px !important;
  line-height: inherit;
  overflow: hidden;
  white-space: nowrap;
  margin: 0 !important;
}

.card-title-content {
  padding-top: 1rem;
  margin: 0;
}

.custom-card-rating {
  font-size: 14px;
  font-weight: 300;
}
.custom-card-rating svg{
  font-size: 12px;
  margin-right: 3px;
}

.text-card,
.text-card-special {
  color: gray;
  font-weight: 300;
  line-height: normal;
  padding: 0;
  margin: 0;
  font-size: 13px;
  display: flex;
  align-items: baseline;
}

.text-card-special{
  color: #222222;
}

.card {
  border: 0 !important;
  width: 100% !important;
  max-width: 100% !important;
  text-decoration: none;
}

.card-body {
  padding: 0 !important;
}

.carousel-item img {
  border-radius: 10px !important;
}

.text-price {
  font-weight: 500;
  color: #222222;
  margin-right: 5px;
}

a.custom-nav-text.active-text.nav-link {
 color: #222222 !important;
  font-weight: 400 !important;
  font-size: 16px !important;
}

.custom-nav-text{
  font-family: 'Airbnb Cereal App', sans-serif;
  font-size: 15px !important;
  font-weight: 300 !important;
}

.logo{
  font-weight: 600;
}

a.custom-nav-text.nav-link:hover {
  background-color: #F7F7F7;
  border-radius: 20px;
  /* padding: 0 10px; */
}

a.custom-nav-text.nav-link {
  width: 150px;
  text-align: center;
}

a.custom-nav-text.active-text.nav-link:hover {
  background-color: inherit;
  border-radius: inherit;
  padding: inherit;
}

.navbar-content {
  /* border-bottom: 1px solid #f7f7f7; */
  box-shadow: rgb(0 0 0/8%) 0 1px 0 ;
  /* height: 70px ; */
  background-color: white;
  position: fixed;
  top: 0;
  background-color: white;
  width: 100%;
  z-index: 2;
}

.navbar-expand-lg .navbar-nav {
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.custom-card-link {
  text-decoration: none;
}

.carousel-inner,
.carousel-item,
.carousel-item img {
  border-radius: 10px;
}



.form-filters {
  display: flex;
  align-items: center;
  border: 1px solid #DDDDDD;
  border-radius: 70px;
  padding: 7px 10px;
  text-align: left;
  box-shadow: 0 3px 12px 0 rgba(0,0,0,0.1),0 1px 2px 0 rgba(0,0,0,0.08);
}
.form-filters input,
.form-filters label
{
  padding: 0;
  margin: 0;
  border: 0;
  font-size: 12px;
  font-weight: 200;
}

.form-filters label {
  font-size: 11px;
  font-weight: 500;
}

.form-filters button {
  width: 45px;
  height: 45px;
  background-color: #ff395c;
  border: 0;
  border-radius: 40px;
}
