body {
  font-family: "Airbnb Cereal App", sans-serif !important;
}

.brand-color {
  color: #ff395c !important;
}
.custom-carousel .carousel-indicators [data-bs-target] {
  box-sizing: content-box;
  flex: 0 1 auto;
  width: 6px;
  height: 6px;
  padding: 0;
  border-radius: 10px;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #fff;
  border: 0;
  opacity: 0.5;
  transition: opacity 0.6s ease;
}

.carousel-indicators {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  display: flex;
  justify-content: center;
  padding: 0;
  margin-right: 15%;
  margin-bottom: 1rem;
  margin-left: 15%;
  align-items: center;
}

.custom-carousel .carousel-indicators [data-bs-target].active {
  background-color: #fff;
  opacity: 1;
  width: 8px;
  height: 8px;
}

.carousel-control-next {
  background-color: white !important;
  height: 25px !important;
  width: 25px !important;
  border-radius: 20px;
  color: black !important;
  opacity: 1;

  display: flex;
  justify-content: center;
  align-items: center;
  top: 45% !important;
  position: absolute;
  margin-right: 5px;
  opacity: 0 !important;
}

.card:hover .carousel-control-next,
.card:hover .carousel-control-prev {
  opacity: 1 !important;
  font-size: 13px !important;
}

.carousel-control-prev {
  right: 0;
  background-color: white !important;
  height: 25px !important;
  width: 25px !important;
  border-radius: 20px;
  color: black !important;
  opacity: 1 !important;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 45% !important;
  margin-left: 5px;
  opacity: 0 !important;
}

a.carousel-control-prev svg {
  margin-left: -3px;
}

.custom-card-title {
  font-family: "Airbnb Cereal App", sans-serif !important;
  font-weight: 400 !important;
  color: #222222;
  text-overflow: ellipsis;
  word-break: break-all;
  width: 90%;
  font-size: 15px !important;
  line-height: inherit;
  overflow: hidden;
  white-space: nowrap;
  margin: 0 !important;
}

.card-title-content {
  padding-top: 1rem;
  margin: 0;
}

.custom-card-rating {
  font-size: 14px;
  font-weight: 300;
}
.custom-card-rating svg {
  font-size: 12px;
  margin-right: 3px;
}

.text-card,
.text-card-special {
  color: gray;
  font-weight: 300;
  line-height: 1.3 !important;
  padding: 0;
  margin: 0;
  font-size: 13px;
  display: flex;
  align-items: baseline;
}

.text-card-special {
  color: #222222;
  font-size: 15px;
}

.card {
  border: 0 !important;
  width: 100% !important;
  max-width: 100% !important;
  text-decoration: none;
  margin-bottom: 2rem;
}

.card-body {
  padding: 0 !important;
}

.carousel-item img {
  border-radius: 10px !important;
}

.text-price {
  font-weight: 500;
  color: #222222;
  margin-right: 5px;
}

.logo {
  font-weight: 600;
}

a.custom-nav-text.nav-link:hover {
  background-color: #f7f7f7;
  border-radius: 20px;
  /* padding: 0 10px; */
}

a.custom-nav-text.nav-link {
  width: 150px;
  text-align: center;
}

a.custom-nav-text.active-text.nav-link:hover {
  background-color: inherit;
  border-radius: inherit;
  padding: inherit;
}

.navbar-content {
  /* border-bottom: 1px solid #f7f7f7; */
  box-shadow: rgb(0 0 0/8%) 0 1px 0;
  /* height: 70px ; */
  background-color: white;
  position: fixed;
  top: 0;
  background-color: white;
  width: 100%;
  z-index: 5;
}

.navbar-expand-lg .navbar-nav {
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.custom-card-link {
  text-decoration: none;
}

.carousel-inner,
.carousel-item,
.carousel-item img {
  border-radius: 10px;
}

.form-filters {
  display: flex;
  align-items: center;
  border: 1px solid #dddddd;
  border-radius: 70px;
  text-align: left;
  box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.08);
}
.form-filters input,
.form-filters label {
  padding: 0;
  margin: 0;
  border: 0;
  font-size: 12px;
  font-weight: 200;
}

.form-filters label {
  font-size: 11px;
  font-weight: 500;
}

.form-filters button {
  width: 45px;
  height: 45px;
  background-color: #ff395c;
  border: 0;
  border-radius: 40px;
  font-size: 22px;
}

.content-page {
  margin-top: 8.9rem !important;
}

.form-control:focus {
  color: var(--bs-body-color);
  background-color: var(--bs-body-bg);
  border-color: transparent !important;
  outline: 0;
  box-shadow: none !important;
}

.pt-55 {
  padding-top: 5.3rem !important;
}

.content-images {
  display: flex;
}

.principal-image {
  width: 50%;
}

footer {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #dddddd;
  height: 50px;
  position: fixed;
  bottom: 0;
  background-color: white;
  width: 100%;
  padding-top: 0.9rem;
}

.reviews-part {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.reviews-part p {
  font-weight: 300;
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
}
footer div,
.reviews-part div {
  display: flex;
  font-size: 14px;
  letter-spacing: 0.5px;
  font-weight: 300 !important;
}

.link {
  text-decoration: underline;
}
.reviews-part.bold-text p {
  font-size: 15px;
  font-weight: 400;
}
footer span,
.reviews-part span {
  display: inline-block;
  margin-top: -3px;
}

footer .bold-text {
  font-weight: 400 !important;
}

.detail-page + footer {
  position: inherit;
}

.card .placeholder-image {
  height: 16rem !important;
  width: 100% !important;
  border-radius: 12px;
  margin-bottom: 12px;
}

.rounded-image {
  width: 32px;
  height: 32px;
  border-radius: 50px;
}

.menu-icon {
  width: 18px;
  height: 18px;
  margin-right: 12px;
}

.navbar-content .dropdown-toggle {
  background-color: white !important;
  border: 1px solid #dddddd;
  border-radius: 30px;
  padding: 8px 10px;
}

.dropdown-toggle::after {
  display: none !important;
}

.btn:first-child:active,
.btn.show {
  border-color: #dddddd !important;
}

.btn:first-child:hover {
  border-color: #dddddd !important;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
}

.input-nofilter {
  padding: 9px 20px;
  display: flex;
  flex-direction: column;
}
.input-nofilter:hover {
  background: #dddddd;
  border-radius: 40px;
  padding: 14px 20px;
}

.input-nofilter:hover input {
  background: #dddddd;
}

.special-filter {
  display: flex;
  flex-direction: row;
}

.special-filter.input-nofilter:hover {
  padding: 9px 20px;
}

.first-image {
  border-radius: 12px 0 0 12px;
}

.second-image {
  border-radius: 0 12px 0 0;
}

.third-image {
  border-radius: 0 0 12px 0;
}

.host-part {
  display: flex;
  align-items: center;
}

.host-part img {
  width: 40px;
  height: 40px;
  border-radius: 40px;
}

.host-part p {
  padding: 0 !important;
  height: fit-content;
  line-height: normal;
}

.host-part h5 {
  margin: 0 !important;
  padding: 0 !important;
}

.block-logo-text {
  display: flex;
  align-items: center;
}

.block-logo-text img {
  width: 40px;
  height: 40px;
}

button.no-button-style {
  background: transparent;
  color: black;
  border: 0;
  text-decoration: underline;
}

button.no-button-style:hover {
  background: #dddddd;
  color: black;
  border: 0;
  text-decoration: underline;
}

.block-logo-text p {
  padding: 0 !important;
  margin: 0 !important;
  font-weight: 300;
}

.block-logo-text .black-info {
  font-weight: 400;
}

.block-message {
  background: rgb(247, 247, 247) !important;
  padding: 16px;
  border-radius: 12px;
  font-size: 14px;
  font-weight: 300;
}

p {
  padding: 0 !important;
  margin: 0 !important;
}

.bold-text {
  font-weight: 400;
}
.normal-text {
  font-weight: 300;
}

.card-total {
  border: 1px solid #dddddd;
  padding: 20px;
  border-radius: 12px;
}

.sticky {
  position: sticky;
  top: 190px;
  width: 200px;
  height: 200px;
  margin-bottom: 310px;
}

.form-select.first-select {
  border-radius: 8px 8px 0 0 !important;
  padding: 16px !important;
  font-weight: 300;
}

.form-select.second-select {
  border-top: 0;
  border-radius: 0 0 8px 8px !important;
  padding: 16px !important;
  font-weight: 300;
}

button.no-reserve-btn {
  width: 100%;
  background: #ff395c;
  border: 0;
  padding: 13px;
}

button.no-reserve-btn:hover {
  width: 100%;
  background: #ff395c;
  border: 0;
}

.title-price {
  font-size: 25px;
  font-weight: 400;
}
.title-price span {
  font-weight: 100;
  font-size: 19px;
}

a.custom-nav-text.active-text.nav-link {
  color: #222222 !important;
  font-weight: 400 !important;
  font-size: 16px !important;
}

.custom-nav-text {
  font-family: "Airbnb Cereal App", sans-serif;
  font-size: 15px !important;
  font-weight: 300 !important;
  text-decoration: none !important;
  border: 0 !important;
  background: transparent !important;
  color: gray !important;
}

.general-form {
  display: flex;
  flex-direction: column;
}

.general-form label {
  padding-bottom: 10px;
  padding-top: 10px;
  font-size: 16px;
  font-weight: 400;
}

.general-form input {
  border: 0;
  border-bottom: 1px solid lightgray;
  font-size: 15px;
  font-weight: 300;
}

.badge-new {
  position: absolute;
  top: 8px;
  z-index: 2;
  background: white;
  color: black;
  padding: 3px 12px;
  border-radius: 14px;
  left: 11px;
  font-size: 12px;
}

.heart-icon {
  position: absolute;
  z-index: 5;
  right: 10px;
  top: 5px;
}

.heart-icon svg{
  fill: #ff395c;
}

.heart-icon.empty svg{
  fill: white;
}